h1, .index {
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, teal, white);
    justify-content: start;
    
}

.container {
    display: grid;
    width: 90%;
    max-width: 600px; 
    margin: 20px;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 60%;
}

#pictures {
    border-radius: 50px;
    max-height: 300px;
    max-width: 100%;
    object-fit: cover; 
    
}

#value {
    border-radius: 5px;
    padding: 5px;
    flex: 1;
    border: none;
}

#button,
#clear1 {
    background-color: green;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#clear1 {
    background-color: brown;
}

#clear2 {
    text-decoration: none;
    color: white;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
}

.details {
    color: green;
    font-weight: bold;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    overflow: auto;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 767px)  {
    .container {
        width: 80%;
        padding: 10px;
        height: 480px;
        max-height: 80vh;
        overflow: auto;
    }

    .member {
        font-size: 14px;
        padding: 10px;
        width: 90%;
        height: auto;
        max-width: 60vh;
    }

    #pictures {
        max-height: 200px;
        max-width: auto;
    }

    .details{
        max-height: 40%;
    }
}




