h1, .index {
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, teal, white);
    justify-content: center;
    
}

.container {
    display: grid;
    width: 90%;
    max-width: 600px; 
    margin: 20px;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 70%;
    justify-content: center;
}

#pictures {
    border-radius: 20px;
    max-height: 500px;
    max-width: 100%;
    object-fit: cover;
    padding: 10px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

img:hover {
    transform: translateY(-20px);
}

#value {
    border-radius: 5px;
    padding: 5px;
    flex: 1;
    border: none;
}

#memory{
    font-style: italic;
    color: green;
}

#personal{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
}

#name, #BN, #DOB, #POB, #Nationality, #hobbies, #image{
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#button,
#clear1, #add1, #home1, #submit {
    background-color: green;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#home1, #submit{
    background-color: green;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 50%;
}

button:hover {
    transform: scale(1.05);
}

#clear1 {
    background-color: brown;
}

#clear2, #add2, #home2 {
    text-decoration: none;
    color: white;
}

.member {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 100%;
}

.details {
    color: green;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 767px)  {
    .container {
        width: 80%;
        padding: 10px;
        max-height: 90vh;
        overflow: auto;
        margin-bottom: 40px;
    }

    .member {
        font-size: 14px;
        padding: 10px;
        width: 90%;
        height: auto;
        max-height: 80vh;
    }

    #pictures {
        max-height: 350px;
        max-width: auto;
    }

    .details{
        max-height: 50vh;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}




