h1{
    color: black;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

body{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    grid-template:
    "footer" 
    "input"  
    "member";
    justify-content: center;
    border-radius: 50px;
    margin-top: 80px;
}

#pictures{
    border-radius: 50px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
}

#value{
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    display: inline-block;
}

#button{
    background-color: green;
    padding: 5px;
    width: 60px;
    border-radius: 5px;
    border-color: black;
    color: black;
    cursor: pointer;
    display: inline-block;
}

#clear1{
    background-color: brown;
    padding: 5px;
    width: 60px;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    display: inline-block;

}

#link{
    text-decoration: none;
    color: blue;
}

#clear2{
    text-decoration: none;
    color: black;
}

.member{
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    margin-top: 50px;
    margin: 10px;
    max-width: 300px;
}

.details{
 color: green;
 font-weight: bold;
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 flex-wrap: wrap;
}


.item{
    display: grid;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.input{
    display: flex;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

#link{
    align-items: flex-end;
}

@media (max-width: 767px) {
    .member{
        font-size: 16px;
        padding: 10px;
        max-width: 60%;
        justify-content: center;
    }

    body{
        width: 100%;
    }

    .container{
        width: 80%;
        justify-content: center;
    }
}
